{% extends 'base.html.twig' %}
{% block title %}About us - Jobiz{% endblock %}
{% block body %}
<section class="text-white bg-slate-700 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      src="{{ asset('logo-jobiz.webp') }}"
      alt="Jobiz" />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
        À propos
      </h1>
      <p class="leading-relaxed mb-8">
        Chez Jobiz, nous nous engageons à connecter les talents avec les meilleures opportunités professionnelles. Notre mission est de simplifier la recherche d’emploi pour tous, en vous aidant à trouver le poste qui vous correspond vraiment. Que vous soyez en début de carrière ou à la recherche d’un nouveau défi, nous sommes là pour vous accompagner.
      </p>
    </div>
  </div>
</section>
{% endblock %}
