<h2>Postuler à cette offre</h2>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

{{ form_start(applicationForm) }}
{{ form_row(applicationForm.coverLetter) }}
<button type="submit">Envoyer ma candidature</button>
{{ form_end(applicationForm) }}

{% else %}
<p>
    Vous devez <a href="{{ path('app_login') }}">vous connecter</a> pour
    postuler.
</p>
{% endif %}
